$color:#fff; 

.nav-detail{
    color:$color;width:20%;height:100%;
    display: flex;justify-content: center;
    align-items: center;
}
.nav-title{
    color:$color;flex:1;
    text-align: center;height:100%;
    margin:0;display: flex;
    justify-content: center;align-items: center;
    font-size: 18px;font-weight: bolder;
}
.detail-nav{
    display: flex;width:100%;background: #f2f2f2;
    height:51px;padding: .45rem .3rem;
    box-sizing: border-box; 
    margin-bottom: .5rem;
    box-shadow: 0 5px 13px rgba(0,0,0,.12);
    ul{
        display: flex;width:100%;
        background: #f2f2f2;
        border-radius: 5px;
        border:0.5px solid #ccc;
        height:32px;
        li{
            font-size: .14rem;height:100%;
            width:25%;display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.5px solid #ccc;
         }
        li:nth-child(1){
            color: $color;background: #ccc;   
            border-radius: 5px;
        }
        li:nth-child(4){
            border-right:0;
        }
    }  
}

.detail1{
    width:100%;height:300px;
    background: $color;
    box-shadow: 0 5px 13px rgba(0,0,0,.1);
    margin-bottom: .5rem;display: flex;
    justify-content: center;
    ul{
        li{
            img{
                 width:300px;height:100%;
            }
        }
    }
    img{
         width:300px;height:100%;
    }
    
}

.shop-message{
    box-sizing: border-box;padding: .8rem .9rem;
    h3{
        padding:0;
    }
    h4{
        margin-bottom: .4rem;color: #333;
        font-size: 20px;font-weight: 700;
    
    }
    p {
        font-size: .1rem;
        color: #7f7f7f;
        margin-bottom: .1rem;
        line-height: 1.5;
        display: flex;
        overflow: hidden;
    }
    .shop-price {
        color: #d44d44;
        span{
            font-size: .14rem;
        }
    }
}


.versions{
    box-shadow: 0 5px 13px rgba(0,0,0,.1);
    margin-bottom: .5rem;
    background: $color;width:100%;
    padding: .8rem .9rem 1rem;
    box-sizing: border-box;
    h6{
        font-size: .6rem;
        line-height: 1.2;
        padding: 0 0 .3rem;
        color: #999;
    }
    p{
        line-height: 1.8;
        color: #333;
        display: table;width:100%;
        i{
            font-weight: bolder;
            font-size: 1rem;        
        }
        span{
            width:38px;height:100%;
            display:inline-block;
        }
    }
    p:nth-of-type(4){
        border-bottom: 0.5px solid #ebebeb;
        padding-bottom: 10px;
    }   
}

.shop-detail{
  width:100%;padding:0;   
}

.detail-footer{
    width:100%;height:54px;background: #fff;
    display: flex;align-items: center;
    box-shadow: 0 -11px 32px rgba(0,0,0,.08);
    button{
        margin: 0 .7%;line-height: 38px; text-align: center
    }
    i{
        width: 50px;display: flex;
        justify-content: center;
        align-items: center;
        img{
            width:27px;height:27px;
        }
    }
    button:nth-of-type(1){
         font-size: 15px;
        font-weight: 700;
        border-radius: 3px;
        background-image: linear-gradient($color,#fcfcfc);
        color: #8c8c8c;
        height: 38px;
        flex: 1;
        border: 1px solid #e0e0e0;
    }
    button:nth-of-type(2){
         color: $color;background: linear-gradient(#6e98f4,#4b77ee);font-size: 15px;
        font-weight: 700;
        border-radius: 3px;
        height: 38px;
        flex: 1;border: 1px solid #3f6aec;
    }
}
