

$bgcolor: blue;



footer{
    width:1005;height:54px;background: #fff;display: flex;
    box-shadow: 0 -11px 32px rgba(0,0,0,.08);
    ul{
        width:100%;height: 100%;display: flex;
        li{
            width:25%;height:100%;display: flex;
           
            a{
             width:100%;height:100%;display: flex;
             flex-direction: column;align-items: center;
             text-align: center;padding-top: 5px;box-sizing: border-box;
                img{
                    width:27px;height:27px;
                }
                span{
                    width:100%;font-size: 6px !important;
                    line-height: 15px;
                }
            }
            
            
        }
    }
}
